extends ../layout
include ../mixins/pagination
block content
  div
    h1 전체 글 목록
  table
    thead
      tr
        td 페이지 당 게시글 수
        td(colspan="2")
          select(onChange="window.location.href=this.value")
            option(value="/posts?perPage=10" selected= perPage == 10) 10
            option(value="/posts?perPage=20" selected= perPage == 20) 20
            option(value="/posts?perPage=50" selected= perPage == 50) 50
            option(value="/posts?perPage=100" selected= perPage == 100) 100
    tbody
      each post in posts
        tr
          td: a(href="/posts/"+post.shortId)= post.title
          td= post.author.name
          td= formatDate(post.createdAt)
    tfoot 
      tr 
        td(colspan="3")
          +pagination("/posts")
  a(href="/posts?write=true"): button 등록하기