extends ../layout
block content
  form(method="post" onsubmit="return check()")
    table
      tbody
        tr
          td 현재 비밀번호
          td: input(type="password" name="currentPassword")
        tr
          td 변경할 비밀번호
          td: input(type="password" name="password")
        tr
          td 비밀번호 확인
          td: input(type="password" name="passwordConfirm")
        tr
          td: input(type="submit" value="변경하기")
  script.
    function check() {
      const password = document.querySelector('[name="password"]').value
      if (password.length < 8) {
         alert("최소 8자리 이상의 비밀번호를 설정 해 주세요");
         return false;
      }
      const passwordConfirm = document.querySelector('[name="passwordConfirm"]').value
      if (password !== passwordConfirm) {
         alert("비밀번호 확인이 일치하지 않습니다.");
         return false;
      }
      return true;
    }