extends ../layout
block content
  form(action="/join" method="post" onsubmit="return check()")
    table
      tbody
        tr
          td 이메일
          td: input(type="text" name="email")
        tr
          td 이름
          td: input(type="name" name="name")
        tr
          td 비밀번호
          td: input(type="password" name="password")
        tr
          td 비밀번호 확인
          td: input(type="password" name="password_confirm")
        tr
          td(colspan="2")
            input(type="submit" value="가입하기")
  script.
    function check() {
      const email = document.querySelector('[name="email"]').value;
      if (!/^\S+@\S+\.\S+$/.test(email)) {
        alert('이메일 형식이 올바르지 않습니다.');
        return false;
      }

      const password = document.querySelector('[name="password"]').value;
      if (password.length < 8) {
         alert("최소 8자리 이상의 비밀번호를 설정 해 주세요");
         return false;
      }

      const passwordConfirm = document.querySelector('[name="password_confirm"]').value;
      if (password != passwordConfirm) {
        alert('비밀번호 확인이 일치하지 않습니다');
        return false;
      }
      return true;
    }