extends ../layout
block content
  form(action="/auth" method="post" onsubmit="return check()")
  table
    tbody
      tr
        td 이메일
        td: input(type="text" name="email")
      tr
        td 비밀번호
        td: input(type="password" name="password")
      tr
        td: input(type="submit" value="로그인")
        td: a(href="/join")
          button(type="button") 회원가입