extends ../layout
block content
  form(action="/reset-password" method="post" onsubmit="return check()")
    table
      tbody
        tr
          td 이메일
          td: input(type="text" name="email")
        tr
          td(colspan="2"): input(type="submit" value="임시 비밀번호 받기")